body{
    background-color: black;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

button{
    background-color: rgb(73, 15, 128);
    color: rgb(238, 232, 223);
    border: none;
    padding: 10px 30px;
    border-radius: 999px;
    font-size: 20px;
    border: 3px solid rgb(73, 15, 128);
    transition: all 200ms linear;
}

button:hover{
    background-color: transparent;
    border: 3px solid rgb(73, 15, 128);
    cursor: pointer;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
    color: rgb(223, 17, 171);
}